body {
  color: #363636;
}

.star {
  filter: none;
}

.star--active ~ .star {
  filter: grayscale(100%);
}

.list-inline-item {
  font-size: 1.8rem;
}

/* Util */
.bg-orange {
  background-color: #ff9f80;
}
.bg-yellow {
  background-color: #effab4;
}
